/* Custom style for Theme toggle btn */
#theme-toggle {
  border: none;
}

#theme-toggle:hover {
  background: none;
}

/* Custom CSS for the slideshow */
.carousel-item img {
  max-width: 80%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height:60vh;

}

.carousel-caption h3 {
  width: 100%;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

/* custom CSS for latest posts */
.latest-posts {
  margin-top: 15px;
}

/* Custom CSS for smaller images on small screens */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .smaller-image {
    max-height: 250px; /* Ensure image does not exceed container width */
    
  }
}


/* Custom CSS for posts card on blogs list */
p.post-info, p.author {
  font-size: 12px;
}

.card-text,
.text-danger {
  white-space: pre-line; /* Preserves newline characters and collapses spaces */
}


/* Custom CSS for scroll to top svg */
#scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 5px;
  width: 50px;
  height: 50px;
  z-index: 100;

  display: none;  
}

/* Custom CSS for carousel items */
.carousel-caption {
  left: 10%;
  right: 10%;
  bottom: .5rem;
  background-color: rgba(128, 128, 128, 0.486);
}

.carousel-caption a {
  color: #e20000;
  font-weight: bolder;

  transition: color .15s;
}

.carousel-caption a:hover {
  color: #fb0000;
}


.carousel-caption p {
  font-weight: bold;
  color: black;
}

#featured-post {
  position: relative;
  width: 100%;
}

#featured-post > h4 {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  padding: 10px 4px;
  margin: 0;
  background-color: #202020d1;
  color: white;
}

#featured-post > h4 a {
  color: #ffe0a8;
  text-decoration: none;
}

#featured-post > h4  a:hover {
  text-decoration: underline;
}

#featured-post-img {
  margin: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: 100%;
  height: 50vh;
}



/* Custom css for categories menu */
#dropdown-categories-list li a {
  text-decoration: none;
}

#dropdown-categories-list li a:hover {
  text-decoration: underline;
}


/* Custom css for search area */
#search-container {
  position: relative; /* Ensure the container is relatively positioned */
}

#search-results {
  position: absolute;
  top: 100%; /* Position the results container below the search input */
  left: 0;
  z-index: 1000; /* Ensure results appear above other content */
  width: 100%; /* Ensure results container spans full width */
  border-top: none; /* Optional: Remove top border to blend with search input */
  max-height: 400px; /* Optional: Add max height if you want to limit height */
  overflow-y: auto; /* Optional: Add scrollbars if results overflow */
}


/* Custom css for post-detail image */
.post-detail-img {
  max-height: 300px;
  width: 80%;
  object-fit: contain;
}